/* ============================================================================
                               Dashboard CSS codes
   ============================================================================ */


/* ===============================================================
                    Landing Page Segment
   =============================================================== */

.nus-logo {
}

.emc-logo {
    margin-left: 60px;
}

/* Chatbot image */
.chatbot_img{
  margin-left: 30px;
  margin-right: 30px;
}
/* .intro-para {
    width: 650px;
    height: 115px;
    margin-left: 20px;
    padding: 5px;
    float: right;
    font-size: 13.5px;
    font-family: sans-serif;
    text-align: center;
    background-color: transparent;
    color: #003D7C;
    border: 3px solid #45B39D;
    position: absolute;
    right: 20px;
}
*/

/* =========================================
         Welcome Text Speech Bubble
   ========================================= */

/* .welcome-text{
  border: 0.5px dotted #45B39D;
  width: 50%;
  margin-left: 29px;
  padding:4px;
  border-radius: 10px;
  text-align: center;
} */

.welcome-text {
	position: relative;
	background: #CEE1F6;
	border-radius: .5em;
  font-size:13px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right:15px;
  padding-left: 15px;
  text-align: justify;
  width:44%;
}

/* This extension is to create the speech bubble display*/
.welcome-text:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #CEE1F6;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}


/* Placing the blocks horizontally */
.nus-logo, .emc-logo, .chatbot_img, .welcome-text {
  display: inline-block;
}


/* =========================================
             Model Details Image
   ========================================= */

/* Model mockup image (hierarchical charts) */
.model-details{
  display:block;
  height:70%;
  width:70%;
  margin-left: auto;
  margin-right: auto;
}


/* =========================================
                  Credits
   ========================================= */

/* Brought to you by E = MC2 */
.credits{
 border: 1px solid white;
 padding: 0px;
 margin-top: 20px;
}



/* ============================================================================
                            Tab 1 - Day Ahead Forecasts
   ============================================================================ */

/* =========================================
                 Date Picker
   ========================================= */
/* Title that says 'Select Date:' */
.date-picker-title {
    margin-right: 20px;
    margin-left: 5px;
    font-size: 21px;
}

.date-picker {
    margin-right: 10px;
}

/* Chunk for: Displaying information for ____ */
.output-container-date-picker{
  font-size: 21px;
  font-weight: bold;
  color: #010E3E;
  margin-left: 12px;
  margin-bottom: 20px;
  border: solid 2px #010E3E;
  border-radius: 11px;
  padding:7px;
  width:60%;
  text-align: center;
}

/* Placing the blocks horizontally */
.date-picker-title, .date-picker, .output-container-date-picker {
    display: inline-block;
    margin-top: -10px;
}


/* =========================================
      Inputs for Day-Ahead Modifications
   ========================================= */

.period-selector{
  width:100%;
  margin-top:-15px;
}

.scale-selector{
  width:360px;
  margin-top:10px;
}

/* Submit button to update modified forecasts */
.day-ahead-submit-button{
  width:360px;
  margin-top:5px;
  margin-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
}

.period-selector, .scale-selector{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


/* =========================================
          Advisory and Alert Headers
   ========================================= */
.advisory-date{
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: #DEE5FF;
  /* width:50%; */
  /* height:120%; */
  text-align: center;
  margin-top: 10px;
  padding:2px;
}

.alert-date{
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: #F0CCD6;
  /* width:50%; */
  text-align: center;
  margin-top: 10px;
  padding:2px;
}

.advisory-date, .alert-date {
  display: inline-block;
  width: 49.5%;
  margin-bottom: -11px;
}

/* =========================================
          Advisory and Alert Tables
   ========================================= */

.advisory-table{
  width:49.8%;
}

.alert-table{
  width:49.5%;
}

.advisory-table, .alert-table {
  display: inline-block;
  width: 49.5%
  margin-top:-20px;
}


/* =========================================
                  Main Tabs
   ========================================= */
.main_tab {
   font-size: 17px;
   margin-top: 10px;
}


/* =======================================================
      Headers for Previous Day and Following Day Charts
   ======================================================= */

/* Chunk for: Displaying information for ____ */
.header-previous-day{
  font-size: 21px;
  font-weight: bold;
  color: #010E3E;
  margin-top:15px;
  margin-bottom: 20px;
  margin-right: 21px;
  border: solid 2px #010E3E;
  border-radius: 11px;
  padding:7px;
  width:43%;
  text-align: center;
}

/* Chunk for: Displaying information for ____ */
.header-following-day{
  font-size: 21px;
  font-weight: bold;
  color: #010E3E;
  margin-top:15px;
  margin-bottom: 20px;
  margin-left: 21px;
  border: solid 2px #010E3E;
  border-radius: 11px;
  padding:7px;
  width:43%;
  text-align: center;
}

.header-previous-day, .header-following-day{
  display: inline-block;
}

/* ============================================================================
                            Tab 2 - Long Term Forecasts
   ============================================================================ */

/* =========================================
       Inputs for Long Term Forecast
   ========================================= */
.select-title {
  margin-bottom:8px;
}

/* .date-picker-long-term{
  width:255px;
  height:39px;
} */

 .month-input {
   margin-right: 2px;
}

/*
.year-input {
  width:255px;
  height:39px;
} */


.brent-price-input {
  margin-left:23px;
}

.gen-capacity-input{
  margin-left:7px;
}

.exchange-rate-input{
  margin-left:7px;
}

.demand-input{
  margin-left:23px;
}

.peak-demand-input{
  margin-left:7px;
}

.production-index-input{
  margin-left:7px;
}

.month-input, .year-input {
  display: inline-block;
  margin-bottom:10px;
}

.brent-price-input, .gen-capacity-input, .exchange-rate-input{
  display: inline-block;
  margin-top:10px;
}

.demand-input, .peak-demand-input, .production-index-input{
  display: inline-block;
  margin-top:10px;
}

.long-term-submit-button{
  margin-left: 22px;
  margin-top: 10px;
}


/* =========================================
    Previous Day and Following Day charts
   ========================================= */
.graph-prev-day{
  width:49.5%
}

.graph-following-day{
  width:49.5%
}

.graph-prev-day, .graph-following-day {
  display: inline-block;
}






/* ============================================================================
                    Tab 3 -  Trends (External Widgets)
   ============================================================================ */

/* =========================================
                News Feed
   ========================================= */
.newsfeed{
  width:1240px;
  height:3200px;
  border: None;
  margin-bottom: 10px;
  margin-top:-5px;
  background-color: #F5F5F7;
}


/* =========================================
                Google Trends
   ========================================= */
.google-trends-oil-sg {
    height: 390px;
    width: 33%;
    border-style: hidden;
}

.google-trends-gas-sg {
    height: 390px;
    width: 33%;
    border-style: hidden;
}

.google-trends-climatechange-sg {
    height: 390px;
    width: 33%;
    border-style: hidden;
}

.google-trends-comparator-sg {
    height: 445px;
    width: 100%;
    border-style: hidden;
}

.google-trends-oil-sg, .google-trends-climatechange-sg, .google-trends-gas-sg {
  display: inline-block;
}


/* =========================================
                Oil Prices
   ========================================= */
.wti-crude {
    border-style: hidden;
    width:23%;
     margin-left: 10px;
}

.brent-crude {
    border-style: hidden;
    width:23%;
}

.natural-gas {
    border-style: hidden;
    width:23%;
}

.gold-price {
    border-style: hidden;
    width:23%;
}

.wti-crude, .brent-crude, .natural-gas, .gold-price {
    display:inline-block;
    height: 500px;
    margin-top: -20px;
    margin-bottom: -110px;
}

.tradingview_graph {
  width: 600px;
  height: 770px;
  border-style: hidden;
}

.tradingview_table {
  width: 600px;
  height: 770px;
  border-style: hidden;
}

.tradingview_graph, .tradingview_table {
  display: inline-block;

}


/* ============================================================================
                            Tab 4 - Historical Data Inputs
   ============================================================================ */

/* =========================================
     Tab 4a Inputs (Historical - Daily)
   ========================================= */
.tab4a-submit-button{
  margin-bottom:20px;
}

.daily-data-table {
  width:80%;
  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top:25px;
  margin-bottom:25px;
}


.tab4a-dataset-select, .month-input-daily, .year-input-daily {
     display: inline-block;
     margin-top:10px;
}

.graph-historical-daily{
  width:1200px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}


/* =========================================
     Tab 4b Inputs (Historical - Monthly)
   ========================================= */
.tab4b-submit-button{
     margin-bottom:20px;
}

.monthly-data-table {
     width:80%;
     /* center the element */
     right: 0;
     left: 0;
     margin-right: auto;
     margin-left: auto;
     margin-top:25px;
     margin-bottom:25px;
   }


.tab4b-dataset-select, .month-input-monthly, .year-input-monthly {
        display: inline-block;
        margin-top:10px;
}

.graph-historical-monthly{
  width:1200px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}


/* =========================================
       Tab 4c Inputs (Historical - Annual)
   ========================================= */
.annual-data-table {
     width:80%;
     /* center the element */
     right: 0;
     left: 0;
     margin-right: auto;
     margin-left: auto;
     margin-top:25px;
     margin-bottom:25px;
   }


.tab4c-submit-button{
    margin-bottom:20px;
}

.tab4c-dataset-select{
    margin-top: 10px;
    display: inline-block;
}

.graph-historical-yearly{
  width:1200px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}


/* ============================================================================
                            Tab 5 - Map
   ============================================================================ */
.map-location-dropdown{
  float:right;
  width:329px;
  margin-top:28px;
}

.map-graph {
  float:left:
}

.map-date-picker{
  font-size: 10px;
}

/* Placing the blocks horizontally */
.map-location-dropdown, .map-graph {
   display: inline-block;
}

.map-date-picker-title, .map-date-picker{
   display: inline-block;
   margin-left:16px;
   margin-bottom:20px;
}
